body {
    color: #3eb489;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: #ff5100;
    font-size: 28px;
}

h2 {
    color: #ff5100;
    font-size: 28px;
}